<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>无名博客</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="container">
    <div class="tab-title">
        <a class="login-tab-btn active" href="/login">登录</a>
        <b class="point">·</b>
        <a class="regist-tab-btn" href="/regist">注册</a>
    </div>

    <form class="login-regist-form">
        <embed src="/images/user_icon.svg" type="image/svg+xml"  width="30" height="30" style="position: absolute; top: 10px; left:2px"/>
        <embed src="/images/passwd_icon.svg" type="image/svg+xml" width="25" height="25" style="position: absolute; top: 66px; left:4px"/>
        <input type="text" class="user-name-input" placeholder="用户名">
        <input type="password" class="pass-word-input" placeholder="密码">

        <div class="bottom-container">
            <input type="checkbox" class="remember-me-input">
            <label class="remember-me-text">记住我</label>
            <span class="login-width-problem">登录遇到问题?</span>
        </div>
        <input type="button" value="登录" class="login-btn">
    </form>

</div>
</body>
</html>